@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 41 50% 93.7%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 190 84% 29%;
    --primary-foreground: 210 40% 98%;
    --secondary: 40 93% 57%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 32% 88%;
    --muted-foreground: 215 16% 46%;
    --accent: 188 58% 44%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 68% 48%;
    --destructive-foreground: 210 40% 98%;
    --border: 200 32% 80%;
    --input: 200 32% 80%;
    --ring: 190 84% 29%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 219 40% 12%;
    --foreground: 41 45% 92%;
    --card: 219 38% 16%;
    --card-foreground: 41 45% 92%;
    --popover: 219 38% 16%;
    --popover-foreground: 41 45% 92%;
    --primary: 188 58% 44%;
    --primary-foreground: 210 40% 98%;
    --secondary: 40 90% 55%;
    --secondary-foreground: 219 45% 12%;
    --muted: 220 28% 22%;
    --muted-foreground: 214 32% 72%;
    --accent: 188 62% 52%;
    --accent-foreground: 219 45% 12%;
    --destructive: 0 62% 40%;
    --destructive-foreground: 210 40% 98%;
    --border: 218 30% 24%;
    --input: 218 30% 24%;
    --ring: 188 58% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
